<div class="container">
  <div><%= movie.name %></div>
  <div><%= movie.year %></div>
  <div><%= movie.rating %></div>
  <div><%= movie.genre %></div>
  <a href="/" class="btn btn-secondary">Back</a>
</div>